##
# Run unit test and the action itself
##
name: Unit Test
permissions:
  contents: write
on:
  pull_request:
  push:
    branches:
      - main
      - feature/**
  merge_group:
    branches: [ 'main' ]
    types: [ 'checks_requested' ]

jobs:
  # test action works running from the graph
  test:
    name: "Test /w node v${{ matrix.version }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [24]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.version }}
          cache: 'npm'
      - run: npm ci
      - run: npm run build
      - uses: ./
        with:
          token: ${{ github.token }}
          remove-older-than: |
            2d

  test_guard:
    name: Test Action guard
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: 'npm'
      - uses: ./
        with:
          token: ${{ github.token }}
        id: run-guard
        continue-on-error: true
      - if: ${{ (success() || failure()) && steps.run-guard.outcome == 'failure' }}
        run: |
          echo "Guard failed as expected"
      - if: ${{ (success() || failure()) && steps.run-guard.outcome != 'failure' }}
        run: |
          echo "Guard did not fail as expected"
          exit 1
